.back-home .home-link {
  max-width: 120px;
  height: 40px;
  background: hsl(0, 0%, 98%);
  box-shadow: 0 3px 5px rgba(20, 20, 20, 0.5);
  border-radius: 10%;
  font-size: 16px;
  font-weight: 600;
  color: hsl(200, 15%, 8%);
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  margin: 20px 40px;
}
.back-home img {
  margin-right: 20px;
  width: 25px;
  height: auto;
}

.detail-page {
  margin: 40px 30px;
  padding: 30px 0;
  font-size: 16px;
  max-height: 100vh;
}

.detail-page span {
  font-weight: 800;
}

.detail-page .about-country {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}
.about-flag {
  width: 40%;
  margin-right: 100px;
  /*height: auto; */
}

.about-details {
  padding: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.about-details .name {
  font-weight: 800;
  font-size: 2em;
}

.flex-details {
  display: flex;
  justify-content: flex-start;
}

.init-details {
  flex: 1;
}
.next-row {
  flex: 1;
}

.next-row ul {
  word-spacing: 100px;
  padding-left: 0;
  display: flex;

  align-items: flex-start;
}
.next-row ul span {
  margin-right: 10px;
}

.detail-page li {
  list-style-type: none;
  margin-right: 10px;
}

.detail-page li::after {
  content: ", ";
}

.detail-page li:last-child::after {
  content: ".";
}

.detail-page .border {
  display: flex;
  align-items: center;
}

.detail-page .border ul {
  display: flex;
  flex: 1;
  align-items: flex-start;
}

.detail-page .border li {
  text-align: center;
  width: 4em;
  background: hsl(0, 0%, 100%);
  box-shadow: 0 3px 5px rgba(20, 20, 20, 0.5);
}
.detail-page .border p {
  margin-left: 20px;
  width: 6rem;
  font-weight: 800;
  text-align: center;
  background: hsl(0, 0%, 100%);
  box-shadow: 0 3px 5px rgba(20, 20, 20, 0.5);
}
.back-home .home-link.dark {
  background: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.dark {
  color: white;
}
.back-home.dark img {
  filter: invert(100%);
}
.detail-page.dark .border li,
.detail-page.dark .border p {
  background-color: hsl(209, 23%, 22%);
}

@media screen and (max-width: 767px) {
  .detail-page .about-country {
    flex-direction: column;
  }
  .about-flag {
    width: 80vw;
    height: 12em;
    margin-right: 0;
  }
  .detail-page {
    margin: 10px;
  }
  .about-details {
    display: block;
    margin: 0;
    padding: 0;
  }
  .flex-details {
    flex-direction: column;
  }
  .detail-page .border {
    margin-top: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
  .detail-page .border ul {
    flex-wrap: wrap;
    padding: 0;
    align-items: center;
    justify-content: space-around;
  }
  .detail-page .border li {
    flex: 1;
    /* width: 100%; */
  }
}
