.navbar {
  background: hsl(0, 0%, 100%);
  box-shadow: 0 3px 5px rgba(20, 20, 20, 0.5);
  display: flex;
  max-width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;

  padding: 0 30px 0 60px;
}
.navbar .home-link {
  text-decoration: none;
  color: black;
}
.navbar h3 {
  font-weight: 800;
}
.mode-container {
  display: flex;
  cursor: pointer;
  width: 8%;
  height: inherit;
  align-items: center;
  justify-content: space-between;
}
.mode-container p {
  font-weight: 00;
  font-size: 0.9em;
}

.navbar img {
  width: 20px;
  object-fit: contain;
  cursor: pointer;
}

.navbar.dark {
  background: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.navbar .home-link.dark {
  color: hsl(0, 0%, 100%);
}

@media screen and (max-width: 767px) {
  .navbar {
    padding: 0 15px;
  }
  .mode-container {
    width: 100px;
  }
}
