.filter-container {
  display: flex;
  padding: 0 5em;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 15px;
}

.search {
  position: relative;
}

.search-input {
  background: hsl(0, 0%, 100%);
  box-shadow: 0 3px 5px rgba(20, 20, 20, 0.5);
  border: none;
  width: 20em;
  height: auto;
  padding: 10px;
  padding-left: 50px;
  background-image: url("../assets/SearchIcon.svg");
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 20px 20px;
}

#select-region {
  background: hsl(0, 0%, 100%);
  box-shadow: 0 3px 5px rgba(20, 20, 20, 0.5);
  border: none;
  border-radius: 4%;
  width: 10em;
  height: 2.5em;
}
.search-input.dark {
  background-color: hsl(209, 23%, 22%);
}
.search-input.dark::placeholder {
  color: hsl(0, 0%, 100%);
}

#select-region.dark {
  background-color: hsl(209, 23%, 22%);
}

@media screen and (max-width: 767px) {
  .filter-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 15px;
  }
  .search-input {
    width: 75vw;
    height: 3.5em;
    margin-bottom: 40px;
  }
  #select-region {
    width: 50vw;
    height: 4em;
  }
}
